@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=DM+Serif+Display&family=Great+Vibes&family=Nanum+Myeongjo&family=Vollkorn:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=DM+Serif+Display&family=Great+Vibes&family=Nanum+Myeongjo&family=Vollkorn:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: var(--default-color);
}
:root{
    --default-color:#dadee0;
    --white: #ffffff;
    --darkgreen: #085D40;
    --light-blue: #CFE8FF;
    --light-green: #0f8e5f;
}
/*********** Headers **************/
.admin-header{
    top: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    color: #fff;
    background: var(--darkgreen);
    width: 100%;
    height: 65px;
    position: relative;
}
.admin-header .admin-head{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 2px;
    margin-left: 70%;
    display: flex;
}
.admin-head .date-timezone{
    width: 30%;
    margin-top: 20px;

}
.admin-profile{
    width: 60%;
}
.admin-profile ul{
    width: 70%;
    background-color: var(--darkgreen);
} 
.admin-profile ul li a{
    font-size: 14px;
    cursor: pointer;
    color: var(--white);
}
.admin-profile ul li a:hover{
    background-color: var(--light-green);
    color: var(--white);
}
.admin-profile .admin-side{
    width: 100%;
    background-color: var(--darkgreen);
    border-color:var(--darkgreen) ;
}
.admin-profile .admin-side:hover{
    border-color:var(--light-green); 
    background-color: var(--darkgreen);
}
.profile{
    display: flex;
}
.profile .admin-pic img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.profile .admin-desc{
    text-align: left;
    margin-left: 10px;  
}
.profile .admin-desc span{
    font-size: 14px;
    font-weight: 500 ;
}

/*********** Admin Sidebar **************/
.adminSidebar{
    position: fixed;
    top: 0;
    height: 100%;
    width: 260px;
    background: var(--darkgreen);
}


.logo-details{
    width: 100%;
    padding: 20px;
    text-align: center;
}

.logo-details img{
    width: 180px;
    margin-bottom: 10px;
}
.logo-details .logo-name{
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
    font-size: 30px;
    color: #fff;
    margin-top: 20px;
}

.adminSidebar .nav-links{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    height: 100%;

}
.adminSidebar .nav-links li{
    position: relative;
    list-style: none!important;
    transition: all 0.4s ease;

}

.adminSidebar ul li a:hover {
    background-color: var(--light-green);
        transition: all 0.2s ease-in-out;
  }

.adminSidebar .nav-links li i{
    height: 50px;
    width: 40px;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    transition: all 0.3s ease;
}

.adminSidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.adminSidebar ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}
.adminSidebar ul li ul {
    display: none;
  }

.adminSidebar ul li:hover ul  {
    display: block;
    transition: all 0.4s ease;
}

/*********************************************************************************************************/
.owner-header{/*outer container*/
    top: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    color: #fff;
    background: var(--darkgreen);
    width: 100%;
    height: 65px;
    position: relative;
}
.owner-header .owner-head{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 2px;
    right: 0;
    display: flex;
    justify-content: end;
}
.for-logout i{
    font-size: 70px;
    margin-bottom: 10px;

}
.sidebar-btn_close{
    background-color: transparent!important;
    outline: none!important;
    border: none;
    display: flex;
    padding-left: 220px;
}
.sidebar-btn_close span{
    right: 0;
    outline: none!important;
    display: flex;
    font-size: 40px;
    color: white;
    
}
.owner-head .date-timezone{
    width: 20   0px;
    align-items: center;
    right: 0;
    text-align: end;
    vertical-align: middle;
    align-self: center;
    border-right: #dadee0 1px solid;
    padding-right: 5px;

}
.homeowner-profile{
    width: 300px;
}
.homeowner-profile ul{
    width: 300px;
    background-color: var(--darkgreen);

} 
.homeowner-profile ul li a{
    font-size: 14px;
    cursor: pointer;
    color: var(--white);
}
.homeowner-profile ul li a:hover{
    background-color: var(--light-green);
    color: var(--white);
}
.homeowner-profile .owner-side{
    width: 100%;
    background-color: var(--darkgreen);
    border-color:var(--darkgreen) ;
}
.homeowner-profile .owner-side:hover{
    border-color:var(--light-green); 
    background-color: var(--darkgreen);
}
.profile{
    display: flex;
}
.profile .owner-pic img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.profile .owner-desc{
    text-align: left;
    margin-left: 10px;  
}
@media (max-width:940px) {
    .profile .owner-desc{
        display: none;
    }
    .homeowner-profile{
        width: 80px;
    }
}
.profile .owner-desc span{
    font-size: 14px;
    font-weight: 500 ;
}
/*********** OWNER Sidebar **************/
.ownerSidebar{
    position: fixed;
    top: 0;
    z-index: 999999;
    height: 100%;
    width: 260px;
    background: var(--darkgreen);
}

.logo-details{
    width: 100%;
    padding: 20px;
    text-align: center;
}

.logo-details img{
    width: 180px;
    margin-bottom: 10px;
}
.logo-details .logo-name{
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
    font-size: 30px;
    color: #fff;
    margin-top: 20px;
}

.ownerSidebar .nav-links{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    height: 100%;

}
.ownerSidebar .nav-links li{
    position: relative;
    list-style: none!important;
    transition: all 0.4s ease;

}

.ownerSidebar ul li:hover {
    background-color: var(--light-green);
        transition: all 0.2s ease-in-out;
  }

.ownerSidebar .nav-links li i{
    height: 50px;
    width: 40px;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    transition: all 0.3s ease;
}

.ownerSidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.ownerSidebar ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}
.ownerSidebar ul li ul {
    display: none;
  }

.ownerSidebar ul li:hover ul  {
    display: block;
    transition: all 0.4s ease;
}



/**************************************************************************************/







/*********** Admin Dashboard **************/
.allContent,
.ownerAllContent{
    position: block;
    margin-left: 300px;  
}
.admin-dashboard-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--darkgreen);
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-right: 30px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.dashboard{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.dashboard .dashboard-row{
    margin-top: 30px;
    margin-right: 20px;
}

.dashboard .admin-overview{
    display: flex;
    width: 300px;
    background-color: var(--darkgreen);
    padding:20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 8px 5px 5px var(--darkgreen);
    justify-content: space-between;
}

.dashboard .admin-overview .overview-desc{
    margin-left: 20px;
}
.dashboard .admin-overview .overview-desc h5{
    margin-top: -10px;
}

.dashboard .admin-overview .fa-solid{
    font-size: 50px;
}

/*********** Transaction Content **************/
.homeTransaction-history .transaction-history-title,
.transaction-title,
.dashboard-title,
.owner-announcement-title,
.mapHome-title{
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--darkgreen);
    max-width: 100%;
    margin-top: 10px;
    margin-right: 40px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.homeTransaction-history .transaction-history-title h1,
.transaction-title h1,
.dashboard-title h1,
.owner-announcement-title h1,
.mapHome-title h1{
    font-weight: 700;
    text-align: center;
    padding: 5px;
}
.transaction-content{
    width: 100%;
    position: relative;
    display: flex;
    
}
.transaction-content .transaction-sheet{
    width: 80%;
    margin-top: 5px;
    margin-right: 10px;
}
.container-horizontal{
    width: 100%;
    justify-content: space-between;
}
.transaction-line{
    display: inline;
}
.date-container{
    display: inline;
}

.transaction-content .transaction-sheet span{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--darkgreen);
}
.transaction-history-content,
.owner-announcement-content{
    padding: 15px;
    margin-right: 40px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.transaction-container{
    padding: 15px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.transaction-details{
    display: flex;
    justify-content: space-between;
}
.transaction-sheet .transaction-details input{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: var(--darkgreen);
    padding: 5px;
    border-radius: 5px;
    border: 0;
}

.transaction-sheet .client-name input{
    display: inline;
    max-width: 89%;
    min-width: 89%;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: var(--darkgreen);
    padding: 5px;
    margin-top: 3px;
    border-radius: 5px;
    border: 0;
    background-color: var(--light-blue);
}

.transaction-sheet .association-dues,
.transaction-sheet .reservation
{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.association-dues .association-title,
.reservation .reservation-title,
.other-transaction .other-transaction-title{
    display: flex;
}
.association-title .div-title,
.reservation-title .div-title,
.other-transaction-title .div-title{
    width: 95%;
}
.association-title .div-title h2,
.reservation-title .div-title h2,
.other-transaction-title .div-title h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--darkgreen);
    text-align: center;
}

.association-title .hide-option span,
.reservation-title .hide-option span,
.other-transaction-title .hide-option span{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: var(--darkgreen);
}

.association-dues .lot-number{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}
.blocklots-num{
    width: 100%;
}
#blocklot{
    width: 80%;

}
.association-dues .lot-number input,
.association-dues .address-status input{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--darkgreen);
    padding: 5px;
    border: 0;
    border-radius: 5px;
    background: var(--light-blue);
}

.association-dues .address-status{
    width: 100%;
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}
.reservation-sheet .reservation-label{
    width: 93%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.r-price{
    display: flex;
    justify-content: end;
    margin-right: 1rem;
}
.r-time{
    margin-top: 2%;
    position: relative;
}
.reservation-label .r-time{
    margin-left: 53%;
}
.transaction-sheet .reservation-date{
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

.transaction-sheet .reservation-date input{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--darkgreen);
    padding: 5px;
    border: 0;
    border-radius: 5px;
    background: var(--light-blue);
}

.amenities-reservation .selected-reservation{
    display: flex;
    width: 100%;
    margin-top: 15px;
    justify-content: space-between;
}
.amenities-reservation .selected-reservation span{
    width: 100%;
    font-size: 18px;
}
.selected-reservation .reservation-place{
    width: 30%;
    margin-left: 5%;
}
.selected-reservation .reservation-place #function-hall{
    margin-right: 3%;
    width: 15px;
    height: 15px;
}
.selected-reservation .reservation-time input{
    width: 40%;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--darkgreen);
    padding: 5px;
    border: 0;
    border-radius: 5px;
    background: var(--light-blue);
}
 
.selected-reservation .reservation-price input{
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--darkgreen);
    padding: 5px;
    border: 0;
    border-radius: 5px;
    background: var(--light-blue);
}
.reservation .reservation-subtotal{
    margin-top: 20px;
}

.reservation-subtotal .r-subtotal-label{
    display: flex;
    justify-content: space-between;
}

.reservation-subtotal .r-subtotal-label input{
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--darkgreen);
    padding: 5px;
    border: 0;
    border-radius: 5px;
    background: var(--light-blue);
}
.transaction-sheet .other-transaction{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.other-transaction .o-transaction-sheet{
    width: 100%;
    margin-top: 15px;
}

.o-transaction-sheet .o-transaction-label input{
    width:80%;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--darkgreen);
    padding: 5px;
    margin-top: 10px;
    border: 0;
    border-radius: 5px;
    background: var(--light-blue); 
}
.other-transaction-table{
    width: 100%;
    margin-top: 10px;
}

.other-services{

    border-collapse: collapse;
  }
.other-services input{
    width: 90%;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--darkgreen);
    padding: 5px;
    border: 0;
    border-radius: 5px;
    background: var(--light-blue);
}

td {
    border: 1px solid #ccc;
    padding: 5px;
}
.add_button {
    text-decoration: none;
    width: 120px;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background: var(--darkgreen);
    cursor: pointer;
}

#deleteButton {
    text-decoration: none;
    width: 120px;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background: red;
    cursor: pointer;
}

 .other-transaction .o-discount{
    margin-top: 10%;
 }

 .other-transaction .o-discount input{
    width: 20%;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--darkgreen);
    padding: 5px;
    margin-top: 10px;
    border: 0;
    border-radius: 5px;
    background: var(--light-blue);
 }

/*********** Transaction Submit **************/
.transaction-content .submit-area{
    width: 30%;
    position: relative;
    margin-right: 40px;
    border-radius: 5px;
} 
.submit-area .transaction-history{
    width: 100%;
    margin-top: 5px;
}

.submit-area .transaction-history button{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #fff;
    width: 100%;
    padding: 25px;
    border-radius: 5px;
    border: 0;
    background: var(--darkgreen);
    cursor: pointer;
}
.submit-area .payment{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: var(--darkgreen);
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.submit-area .payment input{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--darkgreen);
    margin-top: 5px;
    padding: 8px;
    border-radius: 5px;
    border: 0;
    background: var(--light-blue);
}

.submit-area .payment textarea{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--darkgreen);
    width: 100%;
    height: 100px;
    padding: 3px;
    resize: none;
    border-radius: 5px;
    border: 0;
    background: var(--light-blue);
}
.submit-area .payment button{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
.payment #submit{
    background: var(--darkgreen);
}
.payment #reset{
    background: red;
}

/*********** Announcement Tab **************/
.announcement-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--darkgreen);
    position: relative;
    max-width: 100%;
    margin-top: 10px;
    margin-right: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.announcement-title h1{
    text-align: center;
    padding: 5px;
}

.all-announcement .announcement-area{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--darkgreen);
    position: relative;
    max-width: 100%;
    margin-top: 10px;
    margin-right: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.announcement-area .input-group{
    padding: 15px;
}
.input-group #add-announcement-btn{
    width: 22%;
    background-color: var(--darkgreen);
    border: 0;
    border-radius: 5px;
    color: #fff;
    padding: 10px ;
    margin-left: 10%;
    text-decoration: none;
}

.input-group #add-announcement-btn:hover{
    background-color: var(--light-green);
}

.announcement-area .current-announcement{
    padding: 10px;
}


.pagination .page-link{
    text-decoration: none;
    background-color: var(--darkgreen);
    color: #fff;
    cursor: pointer;
}
.pagination .page-link:hover{
    background-color: var(--light-green);
    color: #fff;
}

.viewAnnouncement form{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.viewAnnouncement #title{
    text-align: center;
    text-transform: uppercase;
    color: black;
}

.viewAnnouncement img{
    width: 100%;
    padding: 10px;
}





/*map*/

svg{
	fill: grey;
}


.lhph-map{
    display: flex;
    width: 100%;
}

.map{
    width: 70%;
    margin-right: 5px;
    border-radius: 5px;
}



.lot-info{
    width: 30%;
    border-radius: 5px;
    margin-right: 30px;
   
}

.display-panel{
    background-color: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.map-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--darkgreen);
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-right: 30px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.map-search-bar{
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.map-search-bar input{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding: 10px;
    width: 45%;
}

.map-search-bar button{
    font-size: 18px;
    width: 9%;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--darkgreen);
    color: #fff;
}

.lot-dropdown{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    width: 20%;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.holder{
    background-color: #005EB8;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
}
.subMenu{
    display: block;
}
.mapFrame{
    color: red;
    border: 0px;
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    text-align: center
}
.nameOverlay{
    position:fixed;
    top: 70%;
    right: 1%;
    background: #003B85;
    margin: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    font-size: 5vh;
    height: auto;
    border-radius: 5vh;
    opacity: 1;
    display: block;
}
.overlay{
    position:fixed;
    float: top;
    background: #003B85;
    padding-left: 5px;
    padding-right: 5px;
    margin: 1vh;
    border-radius: 1vh;
    /*opacity: 0.5;*/
    height: 96vh;
    overflow-y: auto;
}
.menu{
    font-size: 3vh;
}
.menuText{
    font-size: 3vh;
}
.menuTitle{
    font-size: 3vh;
}
.menuTitle:hover{
    cursor: pointer;
}
.menuTitleText:hover{
    cursor: pointer;
    font-weight: bold;
    color: red;
}
.menuImage{
    padding-left: 3vh;
    width: 5vh;
    height: 5vh;
}
.menuCheck{
    width: 3vh;
    height: 3vh;
}
.menuFont{
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.menuFont2{
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.menuFont3{
    color: black;
    font-family: 'Open Sans', sans-serif;
}
.menuFont:hover{
    cursor: default;
}
.search{
    width: 100%;
    font-size: 3vh;
}
.panel-btn{
    width: 100%;
}
.panel-btn button{
    color: #fff;
    font-size: 20px;
    width: 32%;
    padding: 5px;
    border: none;
    background-color: var(--darkgreen);
    cursor: pointer;
}
.panel-content{
    padding: 10px;
    margin-top: 10px
}
.panel-content h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: var(--darkgreen); 
}
.panel-content span{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 5px;
    color: var(--darkgreen); 
}
.panel-content .input-group{
    margin-top: 10px;
}

.panel-content .input-group input{
    background-color: var(--light-blue);
}

.panel-content button{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    background-color: var(--darkgreen);
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 8px;
    width: 100%;
    
}

.block-number {
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px; 
}
.block-number .form-check{
    font-family: 'Raleway', sans-serif;
    font-weight: 700; 
    font-size: 12px;
}
.block-number .table tbody{
    font-family: 'Raleway', sans-serif;
    font-weight: 700; 
    font-size: 13px;
}
.block-number .table tbody input{
    border-radius: 50%;
}

.block-number .table tbody #block-1{
    background-color: black;
}
.block-number .table tbody #block-2{
    background-color: blue;
}
.block-number .table tbody #block-3{
    background-color: red;
}
.block-number .table tbody #block-4{
    background-color: brown;
}
.block-number .table tbody #block-5{
    background-color: purple;
}
.block-number .table tbody #block-6{
    background-color: green;
}
.block-number .table tbody #block-7{
    background-color: yellow;
}
.block-number .table tbody #block-8{
    background-color: magenta;
}
.block-number .table tbody #block-9{
    background-color: darkblue;
}
.block-number .table tbody #block-10{
    background-color: olive;
}
.block-number .table tbody #block-11{
    background-color: lime;
}
.block-number .table tbody #block-12{
    background-color: maroon;
}
.block-number .table tbody #block-13{
    background-color: #033E3E;
}
.block-number .table tbody #block-14{
    background-color: #F67280;
}
.block-number .table tbody #block-15{
    background-color: #E799A3;
}
.block-number .table tbody #block-16{
    background-color: #D891EF;
}
.block-number .table tbody #block-17{
    background-color: #DC143C;
}
.block-number .table tbody #block-18{
    background-color: #F8B88B;
}
.block-number .table tbody #block-19{
    background-color: #DC381F;
}
.block-number .table tbody #block-20{
    background-color: #FF7722;
}
.block-number .table tbody #block-21{
    background-color: #43302E;
}
.block-number .table tbody #block-22{
    background-color: #665D1E;
}
.block-number .table tbody #block-23{
    background-color: #A97142;
}
.block-number .table tbody #block-24{
    background-color: #C19A6B;
}
.block-number .table tbody #block-25{
    background-color: #FFD700;
}
.block-number .table tbody #block-26{
    background-color: #F5F5DC;
}
.block-number .table tbody #block-27{
    background-color: #C2E5D3;
}
.block-number .table tbody #block-28{
    background-color: #9DC209;
}
.block-number .table tbody #block-29{
    background-color: #8C001A;
}
.block-number .table tbody #block-30{
    background-color: #43C6DB;
}
.block-number .table tbody #block-31{
    background-color: #50EBEC;
}
.block-number .table tbody #block-32{
    background-color: #29465B;
}
.block-number .table tbody #block-33{
    background-color: #D5D6EA;
}
.block-number .table tbody #block-34{
    background-color: #4E5B31;
}
.block-number .table tbody #block-35{
    background-color: #00FA9A;
}
.block-number .table tbody #block-36{
    background-color: #B21807;
}
.block-number .table tbody #block-37{
    background-color: #C5908E;
}
.block-number .table tbody #block-38{
    background-color: #614051;
}
.block-number .table tbody #block-39{
    background-color: #4B0082;
}

.status{
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    bottom: 0;
    min-height: 20%;
}
.status .status-title h5{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--darkgreen);
}
.status .form-check{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.status .form-check input{
    border-radius: 50%;
    margin-left: 10px;
}
.titlessss h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--darkgreen);
    font-size: 20px;
}


.status #available  {
    background-color: #1FCE6D;
}
.status #occupied  {
    background-color: #E94B35;
}
.status #house  {
    background-color: #2C97DE;
}
.status #undisclosed  {
    background-color: #F2C500;
}
.status #foreclosed  {
    background-color: #E87E04;
}
.status #open  {
    background-color: #33495F;
}
.status #amenities  {
    background-color: #9C56B8;
}
.statusassocss #Updated  {
    background-color: #018E5A;
}
.statusassocss #Outdated  {
    background-color: #E12323;
}
.statusassocss #Advanced  {
    background-color: #FDC50C;
}

.homeowner-message{
    margin-right: 40px;
    height: 100vh;
}

.homeowner-message .homeowner-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    background-color: var(--white);
    color: var(--darkgreen);
    position: relative;
    width: 100%;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.homeowner-message .homeowner-title h1{
    text-align: center;
    padding: 5px;
}

.message-area{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    background-color: var(--white);
    color: var(--darkgreen);
    position: relative;
    width: 100%;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
}
.announcement-panel{
    width: 30%;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    background-color: var(--white);
    color: var(--darkgreen);
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px; 
}

.announcement-header .announcementHeader-title{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.announcement-btn {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}












.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


.record-account .record-title,
.owner-record .record-title{
    margin-top: 10px;
    margin-right: 40px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.record-account .record-title h1,
.owner-record .record-title h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    color: var(--darkgreen);
}

.record-content{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 40px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.record-content .search-add-area input,
.owner-search-add-area input{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: var(--darkgreen);
}

.input-group #search_admin_data{
    width: 10%;
    background-color: var(--darkgreen);
    border: 0;
    border-radius: 5px;
    color: #fff;
    padding: 5px ;
    cursor: pointer;
}

.input-group a{
    text-decoration: none;
    color: #fff;  
}
.input-group #add-account
{
    width: 22%;
    background-color: var(--darkgreen);
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    padding: 8px ;
    margin-left: 27%;
    text-decoration: none;
}
.input-group #btn_add_owner_acc,
.input-group #btn_assign_owner_lot{
    width: 22%;
    background-color: var(--darkgreen);
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    padding: 8px ;
    margin-left: 2%;
    text-decoration: none;
}

.Admin_Account_Table{
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    
}
.Admin_Account_Table th{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: var(--darkgreen);
}

.Admin_Account_Table td{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid;
}

.panel-titles h3{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
    color: var(--darkgreen);
}

.btn_view_admin_acc,
.btn_edit_admin_acc,
.btn_delete_admin_acc{
    width: 100%;
    background-color: var(--darkgreen);
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    padding: 5px ;
    cursor: pointer;
}

.account-record-download{
    width: 15%;
    background-color: var(--darkgreen);
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    padding: 10px ;
    margin-top: 15px;
    cursor: pointer;
}

#add-account,
.modal-footer #submit-btn,
.modal-footer #announcement-submit-btn{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
    background-color: var(--darkgreen);
    border: 0;
    border-radius: 5px;
    color: #fff;
    padding: 10px  ;
    cursor: pointer;
}

.modal-footer #cancel-btn{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
    background-color: red;
    border: 0;
    border-radius: 5px;
    color: #fff;
    padding: 10px ;
    cursor: pointer;
}

#addUserModalLabel{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: var(--darkgreen);
}

.table .view{
    padding: 5px 

}

.assignlotmodal h5,
.owneraddaccountmodal h5,
.updateOwnerModal h5,
.viewOwnerModal h5,
.adminAddAccountModal h5,
.updateAdminModal h5{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: var(--darkgreen);
}
.assignlotmodal span,
.owneraddaccountmodal span,
.updateOwnerModal label,
.viewOwnerModal label,
.adminAddAccountModal span,
.updateAdminModal label{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;  
    background-color: var(--darkgreen);
}
.assignlotmodal input,
.owneraddaccountmodal input,
.updateOwnerModal input,
.adminAddAccountModal input,
.updateAdminModal input{
    font-size: 16px;
    font-weight: 500;
}

.owneraddaccountmodal #passgenerate,
.adminAddAccountModal  #passgenerate{
    color: #fff; 
}
.dashboard-status{
    margin-bottom: 10px;
    margin-right: 40px;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.dash-status td{
    border: 0;
    border-collapse: collapse;
}
.home-lot-status{
    padding: 10px;
}
.dash-status .dashboard-home{
    width: 100%;
    border-radius: 5px;
    background-color: var(--darkgreen);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.dashboard-home .dash-desc{
    font-family: 'Raleway', sans-serif;
    font-weight: 700; 
    padding: 10px;
    color: white;
}

.dashboard-home .dash-desc h1{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700; 
}
.dashboard-home .dash-desc h3{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}
.dashboard-home .dash-desc h5{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
}
.property-owner-panel{
    width: 100%;
}

.owner-finder{
    padding: 20px;
    margin-right: 40px;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.property-owner-panel .owner-finder h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: var(--darkgreen);  
}

.owner-finder .input-group input,
.owner-finder .input-group span{
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--darkgreen);
    background-color: var(--white);
}

.homeMap{
    width: 100%;
}
.map-holder-owner{
    border-radius: 5px;
    margin-right: 10px;
    background-color: var(--white);
    overflow: hidden;
    
}
.owner-map-side .control-map{
    background-color: var(--white);
    padding: 5px;
}
.owner-map-side .control-map button{
    margin-bottom: 5px;
}

.control-map #trigger-home{
    color: white;
    background-color: white;
    border: 0;
}
.lhph-map .control-map{
    background-color: var(--white);
    padding: 5px;  
    width: 5%;
}
.lhph-map .control-map button{
    margin-bottom: 5px;
}
/*********** Scrollbar  **************/
::-webkit-scrollbar {
    width: 8px;  /* width of the scrollbar */
    background-color: var(--darkgreen);  /* background color of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--darkgreen);  /* color of the scrollbar thumb (the part that you drag) */
    border-radius: 10px;  /* rounded corners of the scrollbar thumb */
  }

  ::-webkit-scrollbar-track {
    background-color: #ffffff;  /* color of the track (the part that the thumb scrolls over) */
    border-radius: 5px;  /* rounded corners of the track */
  }






/* sendmail css start*/
/* custom css styling */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


.mail-form h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 23px;
    color: var(--darkgreen);
}
.list-header h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 19px;
    color: var(--darkgreen);
    margin-bottom: 30px;
}
.list-header h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: var(--darkgreen); 
}

.list-container{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow-y: scroll;
    max-height: 200px; /* adjust the height as needed */
}


.admin-message-title{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 40px;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 3px;
}

.admin-message-title h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    color: var(--darkgreen);  
}

.admin-message .message-content{
    margin-right: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

 .message-content .compose-area{
    margin-left: 75%;
    margin-bottom: 20px;
 }

 .compose-area .compose-btn{
    width: 80%;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--white);
    padding: 13px;
    border: 0;
    background-color: var(--darkgreen);
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
 }

 .compose-area .compose-btn:hover{
    background-color: var(--light-green);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 }
 
 .message-content .email-message-area{
    width: 100%;
 }
 
 .message-history .nav-tabs button{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--darkgreen);
 }

/*notif*/
#notif-inq {
    color: red;
}





 @media only screen and (max-width: 940px) {
    .ownerAllContent{
        margin-left: 10px;  
    }

    .dashboard-status,
    .dashboard-title,
    .transaction-history-content,
    .mapHome-title,
    .owner-finder,
    .homeowner-message,
    .homeTransaction-history .transaction-history-title,
    .owner-announcement-title,
    .owner-announcement-content{
        margin-right: 10px;

    }
    .home-lot-status,
    .history-content,
    .current-message,
    .announcement-posted{
        overflow-x: auto;
    }

    .owner-map-side{
        flex-direction: column
    }

    .control-map{
        margin-right: 10px;
    }
    .homeMap{
        border-radius: 0;
        margin-bottom: 10px;
    }

}
@media only screen and (min-width: 941px) {
    .sidebar-btn_close{
        display: none;
    }
}


